<!DOCTYPE>
<html>
<head>

    <title>ngCrossfilter</title>

    <!-- Dependencies! -->
    <script type="text/javascript" src="js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="js/vendor/crossfilter/crossfilter.js"></script>
    <script type="text/javascript" src="js/vendor/ng-crossfilter/ng-crossfilter.js"></script>

    <!-- Styles! -->
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="js/vendor/bootstrap/dist/css/bootstrap.css" />

    <!-- Application! -->
    <script type="text/javascript" src="js/Default.js"></script>
    <script type="text/javascript" src="js/controllers/WordsController.js"></script>

</head>
<body ng-app="myApp" ng-controller="WordsController">

    <section class="sidebar">

        <input type="text" ng-model="word" class="search" placeholder="Filter by word..." />

        <div class="btn-group">
            <button type="button" class="btn btn-xs btn-default"
                    ng-click="applyWordFilter(word, fuzzyFilter)">
                Filter
            </button>
            <button type="button" class="btn btn-xs btn-default"
                    ng-click="word = ''; words.unfilterBy('word', word)">
                Clear
            </button>
        </div>

        <ul>
            <li class="word-count">
                Displaying {{words.getCount() | number: 0}}
                <ng-pluralize count="words.getCount()" when="{'1': 'word.', 'other': 'words.'}"></ng-pluralize>
            </li>
            <li>First Word: {{words.getFirst().word}}</li>
            <li>Last Word: {{words.getLast().word}}</li>
            <li><h3>Word Count</h3></li>
            <li>
                <div class="count" ng-repeat="count in countGrouped"
                                   ng-class="{ 'is-none': count.value == 0, active: currentCountFilter == count.key }"
                                   ng-click="toggleCountFilter(count.key)">
                    {{count.key}}
                </div>
            </li>
        </ul>

    </section>

    <section class="words">

        <table>
            <tr>
                <th ng-click="words.sortBy('id')">ID</th>
                <th ng-click="words.sortBy('word')">Word</th>
                <th ng-click="words.sortBy('wordCount')">Length</th>
                <th>
                    <span class="glyphicon glyphicon-filter"></span>
                </th>
            </tr>
            <tr ng-show="loading">
                <td colspan="3">Loading Words&hellip;</td>
            </tr>
            <tr ng-show="!loading && words.getCollection().length == 0">
                <td colspan="3">
                    Oops! Everything disappeared &ndash;
                    <a ng-click="word = ''; words.unfilterAll()">clear all filters</a>.
                </td>
            </tr>
            <tr ng-repeat="model in words | crossfilter | limitTo: pageNumber | limitTo: -50">
                <td>{{model.id}}</td>
                <td>{{model.word}}</td>
                <td>{{model.word.length}}</td>
                <td>
                    <button class="btn btn-xs btn-default" ng-click="applyWordFilter(model.word)">
                        Filter by word
                    </button>
                </td>
            </tr>
            <tr>
                <td class="etc" colspan="3">

                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-default"
                                ng-click="pageNumber = pageNumber - 10">
                            &lt; Previous Page
                        </button>
                        <button type="button" class="btn btn-xs btn-default"
                                ng-click="pageNumber = pageNumber + 10">
                            Next Page &gt;
                        </button>
                    </div>

                </td>
            </tr>
        </table>

    </section>

</body>
</html>