<!DOCTYPE>
<html>
<head>
    <title>ngCrossfilter</title>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/crossfilter/crossfilter.js"></script>
    <script type="text/javascript" src="../module/ngCrossfilter.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="myApp" ng-controller="BooksController">

    <button ng-click="direction = 'asc'">Ascending</button>
    <button ng-click="direction = 'desc'">Descending</button>
    <button ng-click="value = '?Of'">Containing "Of"</button>
    <button ng-click="value = '~/M/i'">Containing "M"</button>
    <button ng-click="value = 'Nineteen Eighty-Four'">Nineteen Eighty-Four</button>
    <button ng-click="value = false">Clear All</button>

    <button ng-click="addBook('Where the Wild Things Are')">Add another book!</button>

    <ul class="books">
        <li ng-repeat="book in books | crossfilter: 'name': value : 'id': direction : 'reduce'">
            {{book.id}} &ndash; {{book.name}}
        </li>
    </ul>

</body>
</html>