<!DOCTYPE>
<html>
<head>
    <title>ngCrossfilter</title>

    <!-- Dependencies! -->
    <script type="text/javascript" src="js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="js/vendor/crossfilter/crossfilter.js"></script>
    <script type="text/javascript" src="js/vendor/ng-crossfilter/ng-crossfilter.js"></script>

    <!-- Application! -->
    <script type="text/javascript" src="js/Default.js"></script>
    <script type="text/javascript" src="js/controllers/WordsController.js"></script>

</head>
<body ng-app="myApp" ng-controller="WordsController">

    <input type="text" ng-model="word" />
    <button ng-click="words.filterBy('word', word, fuzzyFilter)">Filter</button>
    <button ng-click="words.unfilterBy('word')">Unfilter</button>

    <button ng-click="words.sortBy('word')">Sort by Word</button>
    <button ng-click="words.unsortBy('word')">Unsort</button>

    <ul class="words">

        <li><strong>First Word: {{ words.first().word }}</strong></li>
        <li><strong>Last Word: {{ words.last().word }}</strong></li>

        <li ng-repeat="model in words | crossfilter | limitTo: 100">
            {{model.id}} &mdash; {{model.word}}
        </li>

    </ul>

</body>
</html>